.app-icon {
    width: 100%;
    max-width: 128px;
}

body {
    height: 100vh;
    background-image: url(../images/bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* z-index: -1; */
}

.container img {
    background-color: #e7e8ea;
}
a:hover {
    background-color: #247881;
    color: white;
}

.footer {
    font-size: 12px;
}

.footer i {
    color: rgb(200, 0, 0);
}
